textarea,
input {
  border: 1px solid #cbdbea;
  border-radius: 8px;
  height: 45px;
  margin: 10px;
  padding-left: 10px;
  font-weight: 300;
  font-size: 14px;
  display: block;
  width: 100%;
  outline: none;
}

textarea,
input::placeholder {
  color: #b7c0c9;
}

button {
  height: 45px;
  margin: 10px;
  background: #329c89;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  display: block;
  width: 100%;
}

img{
  width: 100%;
  height: 100%;
}